/* Палитра:

primary-text-color: #757575
title-text-color: #212121
accent-color: #2196F3
white-text-color: #ffffff
hero-background-color: #2F303A
section-background-color: #F5F4FA
primary-background-color:#ffffff

*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --white-text-color: #ffffff;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --section-bg-color: #f5f4fa;
  --accent-color: #2196f3;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
}
/* Утилиты */

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Body */

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: roboto, serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
}

/* Логотип */

.logo,
.footer-logo {
  color: #000000;
  font-family: raleway, serif;
  font-size: 26px;
  line-height: 1.19;
}

.logo-segment {
  color: var(--accent-color);
}

/* Основная навигицая */

.header .site-nav,
.header .contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

/* Контакты */
.contacts {
  font-style: normal;
}
.contacts .link {
  color: var(--primary-text-color);
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* Герой */

.hero-container {
  background-color: var(--secondary-bg-color);
}
.hero-title {
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}
.hero-button {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}

/* Section */

.section-title,
.name-title,
.title {
  color: var(--title-text-color);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.features .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.name-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.profession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

/* Подвал */

.footer {
  background-color: var(--secondary-bg-color);
}
.footer p {
  color: var(--white-text-color);
}
.footer-logo {
  color: var(--white-text-color);
}
.contacts .footer-contact {
  color: var(--footer-contact-color);
}

/* ----- Портфолио ----- */

.portfolio-nav .button {
  color: var(--title-text-color);
  background-color: var(--section-bg-color);
}
.button:hover,
.button:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}
.button.current {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}
.portfolio .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
