/* Палитра:

primary-text-color: #757575
title-text-color: #212121
accent-color: #2196F3
hero-color: #ffffff
hero-background-color: #2F303A
section-background-color: #F5F4FA
primary-background-color:#ffffff

*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --hero-text-color: #ffffff;
  --hero-bg-color: #2f303a;
  --section-bg-color: #f5f4fa;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
}
/* Утилиты */

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* Body */

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
}

/* Логотип */

.logo {
  color: #000000;
}

.logo-segment {
  color: var(--accent-color);
}

/* Основная навигицая */

.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

/* Контакты */

.contacts .link {
  color: var(--primary-text-color);
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}
/* Герой */

.hero-title {
  color: var(--hero-text-color);
  background-color: var(--hero-bg-color);
}
.hero-button {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
}

/* Section */
.section-title {
  color: var(--title-text-color);
}

/* Подвал */

.footer {
  background-color: var(--hero-bg-color);
}
.footer p {
  color: var(--hero-text-color);
}
.logo.link.footer {
  color: var(--hero-text-color);
}
.footer-contact {
  color: var(--footer-contact-color);
}

/* ----- Портфолио ----- */
